.botonComenzar {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 3;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 50px;
    -fx-padding: 10 20 10 20;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.botonComenzar:hover {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 3;
    -fx-padding: 10 20 10 20;
    -fx-border-color: white;
}

.pasarTurnoBoton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 3;
    -fx-border-radius: 3px;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-width: 2px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent;
}

.pasarTurnoBoton:hover {
    -fx-border-width: 2px;
    -fx-background-color: rgba(77, 71, 56, 0.32);
    -fx-background-radius: 3;
    -fx-border-color: #5e5644;
}

.hboxCostadoDerecha {
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-background-image: url("../img/marcos/overlayDerecha.png");
}

.coordenadasText Text {
    -fx-text-alignment: center;
}

.labelCampoParaRellenar {
}

.textfieldNombreJugador {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 3;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-accent: rgba(136, 197, 203, 0.6);
    -fx-font-size: 20px;
}

.textfieldNombreJugador:selected {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 3;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-accent: rgba(136, 197, 203, 0.6);
    -fx-font-size: 20px;
}

.anchorPaneForm {
    -fx-background-color: rgba(52, 52, 52, 0.44);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}